.cart-container {
  padding: 20px;
  min-height: 480px;

  .cart-item {
    display: flex;
    width: 800px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    border-bottom: solid 1px rgba(215, 215, 215, 0.813);

    img {
      width: 150px;
      height: 150px;
      vertical-align: middle;
      margin-right: 20px;
      border-radius: 5px;
    }

    .info {
      flex: 1;

      .title {
        font-size: 18px;
        font-weight: bold;
      }

      .price {
        font-size: 16px;
        color: #888;
      }
    }

    .remove-btn {
      color: #fb641b;
      border: solid 1px #fb641b;
      padding: 7px 12px;
      cursor: pointer;
      margin-left: 8px;
      &:hover {
        background-color: #fb641b;
        color: #ffffff;
      }
    }
  }

  .cart-total {
    margin-top: 20px;
    font-size: 20px;
    text-align: right;
    margin-right: 310px;

    .label {
      font-weight: bold;
    }

    .amount {
      color: #1a6eff;
    }
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  .clear-btn {
    color: #fb641b;
    border-radius: 8px;
    border: solid 1px #fb641b;
    padding: 7px 12px;
    cursor: pointer;
    margin: auto;
    &:hover {
      background-color: #fb641b;
      color: #ffffff;
    }
  }
  .checkout-btn {
    border-radius: 8px;
    color: #337eff;
    border: #337eff solid 1px;
    padding: 7px 12px;
    cursor: pointer;
    margin: auto;
    &:hover {
      background-color: #337eff;
      color: #ffffff;
    }
  }
}
.breadcrumb {
  color: #7d7d7d;
}

.breadcrumb li {
  float: left;
  padding: 0 6px;
}

.breadcrumb li:first-child {
  padding-left: 2px;
}

.breadcrumb li:not(:last-child)::after {
  content: " \276f";
  padding-left: 8px;
}

.count {
  float: right;
  color: #717171;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity button {
  background-color: #f0f0f0;
  border: none;
  width: 30px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  &:hover {
    background-color: #fb641b;
    color: #ffffff;
  }
}

.quantity span {
  padding: 5px 10px;
}
.Promo {
  margin-top: 40px;
  margin-left: 320px;
}

.Promo > label {
  float: left;
  width: 100%;
  margin-bottom: 9px;
}

.Promo > input {
  float: left;
  width: 30%;
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 1.8rem;
  border: 1px solid #f58551;
  border-radius: 2rem 0 0 2rem;
  outline: none;
}

.Promo:hover > input {
  border-color: #16cc9b;
}

.Promo > button {
  float: left;
  width: 10%;
  padding: 0.5rem 0;
  border-radius: 0 2rem 2rem 0;
  border: 1px solid #f58551;
  background-color: #f58551;
}

.Promo:hover > button {
  border-color: #16cc5c;
  background-color: #16cc5c;
}

