.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;

  .login-form {
    width: 30rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to bottom right, #f5f5f5, #fff);

    .login-title {
      text-align: center;
      margin-bottom: 2rem;
      color: #333;
      font-size: 2rem;
      font-weight: bold;
    }

    .input-group {
      margin-bottom: 2rem;

      label {
        display: block;
        margin-bottom: 0.5rem;
        color: #333;
      }

      input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #f5f5f5;
      }
      
    }

    .agree-terms {
      text-align: center;
      margin-bottom: 2rem;
      color: #696969;

      a {
        color: #007bff;
        text-decoration: none;
      }
    }

    .login-button {
      width: 100%;
      padding: 0.5rem;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
    .error {
      color: red;
      margin: 20px auto 15px auto;
      text-align: center;
      
    }
  }

  .register-link {
    margin-top: 2rem;

    a {
      color: #007bff;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s ease;

      &:hover {
        color: #0056b3;
      }
    }
  }
}

